<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      defer
    ></script>
    <script type="text/javascript">
      const puzzle = {{ puzzle|tojson }};
    </script>
  </head>
  <body>
    <div id="guessing_container">
      <div id="pieces-container">
          {% for color, value in pieces.items() %}
            <div class="{{ color }}">
              {% for piece, squares in value.items() %}
                <div class="{{piece}}">
                  <ul>
                    {% for square in squares %}
                      <li>{{ square}}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="answer_container" hidden></div>
  </body>
</html>
